//- Item active
mixin carouselItem-active(label, title, text, url, img)
  .carousel-item.active
    .row.ai-center
      .offset-md-2.col-md-4
        span.text-uppercase.ls-4= label
        .sub-dark
        h1= title
        p= text
        a.btn.btn-main(href= url) Explorar Proyecto
      .col-md-6
        img.img.img-fluid.w-100.vh-80-important(src=`./dist/media/img/${img}`)

//- Item
mixin carouselItem(label, title, text, url, img)
  .carousel-item
    .row.ai-center
      .offset-md-2.col-md-4
        span.text-uppercase.ls-4= label
        .sub-dark
        h1= title
        p= text
        a.btn.btn-main(href= url) Explorar Proyecto
      .col-md-6
        img.img.img-fluid.w-100.vh-80-important(src=`./dist/media/img/${img}`)

//- Indicators Active
mixin carouselIndicator-active(number)
  li(data-target='#carouselProjects' data-slide-to= number).active

//- Indicators
mixin carouselIndicator(number)
  li(data-target='#carouselProjects' data-slide-to= number)