mixin infoDark(title, li1, li2, li3)
  h5= title
  .sub-dark
  ul.list-unstyled.text-left.pt-4
    li= li1
    li= li2
    li= li3

mixin infoLight(title, li1, li2, li3)
  h5= title
  .sub-dark
  ul.list-unstyled.text-left.pt-4
    li= li1
    li= li2
    li= li3